
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s linear;
  list-style: none;

  /* variables */
  --orange: #FF6000;
  --light-orange:#ff8b47;
  --black: #454545;
  --light-color: #777;
  --white: #fff;
  --light-white: #eee;
  --border: 2px solid var(var(--orange));
  --box-shadow:0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2);
  --text-shadow: 1px 1px 1px gray;
}


html{
  font-size: 60%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width:1rem;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}


/* universal */
.content-section {
  width: 80%;
  padding-top: 8rem;
  margin: auto;

}

.content-section:hover {
  transform: scale(1.01);
}

/* title */
h2 {
  font-size:4rem;
  text-transform: capitalize;
  color:var(--black);
  margin-bottom:3rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color:var(--orange);

}

h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--black);
}

p,
button {
  font-size: 2rem;
  color:var(--black);
  font-weight: 280;
  padding:1rem;
}


 

/* header  */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  opacity: 0.8;
  padding:0.5% 10%;
  position: sticky;
  top:0;
  left:0;
  right:0;
  z-index: 5;
}

nav{
  position: relative;
}

.header #menu-btn {
  display: none;
  color: var(--white);
  font-size: 4rem;
}

nav #close-menu-btn{
  display: none;
  color: var(--white);
  position:absolute;
  right:2rem;
  top:1.5rem;
  padding:2rem;
  font-size: 4rem;
}

nav #close-menu-btn:hover{
  transform: rotate(90deg);
}

.header nav ul{
  display: flex;
  gap:4rem;
  align-items: center;
}


nav ul li a{
  color: var(--white);
  font-size: 2rem;
 
}

nav ul li a:hover{
  border-bottom: solid 2px var(--orange);
}

.logo-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo-name p{
  font-weight: bold;
  letter-spacing:0.3rem;
  font-size:2rem;
  color: var(--white);
}





/* home */
.hero {
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  color:var(--white);
}

.hero h1{
  font-weight: 600;
  font-size: 8rem;
  text-shadow:var(--text-shadow)
}

.hero h1:hover{
  letter-spacing: 2px;
}

.hero p, .hero .fa{
  margin-top:20px;
  font-size:3rem;
  color:var(--light-white);


}

.hero-video{
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: fill;
  height:100%;
}





/* history */

.slideshow-container img {
  width: 100%;
  /* height: 100%; */
  /* border-radius: 10px; */
  object-fit: cover;
}

#history .slideshow-container {
  width: 100%;
  position: relative;
 

  /* border-radius: 10px; */

}

#history .slideshow-container img {
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
  box-shadow: var(--box-shadow);

}
.history-text{
  position: absolute;
  bottom:2rem;
  padding:0;
  text-align: center;
  background-color: var(--white);

}

/* food */
.food-row{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top:20px;
  gap: 20px;

}
.food-col{
  box-shadow:var(--box-shadow);
  /* border-radius: 10px; */
  position: relative;
  color:var(--white);
  box-sizing: border-box;
  width:40rem;
  height:40rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-position: relative;

  
}

.food-col:hover{
  transform: scale(0.98);
}

.food-col .food-title{
  color:var(--black);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* opacity:0.7;
  padding:10px 10px;
  width: 70%;
  margin: auto; */
  /* border-radius: 10px;
  color: transparent; */
  font-size: 3rem;
  font-weight: 800;
  -webkit-text-stroke: 1px var(--white);
 
  
}

.overlay{
  opacity: 0;
  height: 100%;
  width:100%;
  padding: 20px 10px;
  background:var(--white);
  color:var(--black);
  text-align: start;
  z-index:5;

}

.food-col:hover .food-title{
  display:none;
}

.food-col:hover .overlay {
  opacity: 1;
 
}
.overlay h3{
  text-align:center;
  color:var(--black);
  font-size: 20px;
  font-weight: 800;
  border-bottom: 0.2rem solid var(--light-orange);
  margin:2rem 0;

}


.butter{
  background-image: url('/images/okutuka.jpg');
}

.meat {
  background-image: url('/images/pap+stew.jpg');
}
.sour-milk{
  background-image: url('/images/okukanda.jpg'); 
}




/* attire */
.attire-row{

  display: grid;
  /* gap: 2rem; */
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* margin: 2rem 0 4rem 0; */
  background-color:var(--black);
}
.attire-row div p{
  color:var(--white);
  padding:4rem;

}

#attire .slideshow-container {
  background-color: var(--black);
  max-width: 550px;
  position: relative;
}

#attire .slideshow-container img {
  border: 1rem solid var(--black);
  object-fit: contain;
  max-height: 40rem;
}

#language .slideshow-container {
  max-width: 550px;
  position: relative;

}



.mySlides,.mySlides2,.mySlides3{
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  user-select: none;
}


.prev{
  left:0;
}
.next{
  right: 0;
  border-radius: 10px 0 0 10px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color:white;
  font-size: 12px;
  padding:2rem;
  position: absolute;
  background-color:var(--black);
  bottom:0;
  width:100%;
  left:0;
  text-align: center;
  right:0;
  border-radius: 0 0 10px 10px;
}


.entertainment-row{
  display:grid;
  gap:2rem;
  grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
  margin: 2rem 0 4rem 0;

}

.entertainment-col {
  padding: 2rem;
  background-color:var(--white);
  color:var(--black);
  box-shadow:1px 1px 1px gray;
  text-align:start;

  text-align: center;
 
}


.entertainment-row img{
  width:100%;
 
}


 #scroller{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width:100%;
  text-align: center;
}

.artist{
  position: relative;
  width: 40rem;
  white-space: nowrap;
  margin-right: 2rem;
display:inline-block;
cursor:pointer;
animation-name: roll;
animation-duration: 40s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}


@keyframes roll {
  from{
    transform: rotate(0);
  }
  to{
      transform: rotate(360deg);
  }

  
}



.artist a{
 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
  align-items: center;
  text-decoration: none;
  color:black;
  font-size:2rem;
  font-weight: 600;
  -webkit-text-stroke: 1px white;

}
.artist a i{
  color:#CD201F;
}

.artist:hover a{
  text-decoration:underline;
}

#scroller img {
  width: 100%;
  border-radius:50%;
  box-shadow:var(--box-shadow);
  border: 0.2rem solid gray;
}

#scroller::-webkit-scrollbar {
  width: 1rem;
}


 #scroller::-webkit-scrollbar-thumb {
  background-color: #f86836;
}











/* 

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll p{
  display: inline-block;
  font-size: 120px;
  font-weight: 700;
  margin-right: 10px;
  color:transparent ;
  -webkit-text-stroke:2px blue ;
}


@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
  */




/* learning */
#category-btn-container{
  margin-top:2rem;
}
.language-category{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
  border-radius: 10px;

}
#language{
  margin-bottom: 8rem;
}



/* .cards-container{
  /* display:flex;
  justify-content: center; */
  /* width:310px; */
  /* white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin:auto; */
  /* align-items: center; */
  /* gap:10px; */
  /* flex-wrap: wrap; */
  /* margin-top:20px; */
  /* perspective: 1000px; */
 
#greetings,#counting,#days,#body{
  display: none;
}
.card{
  display:inline-block;
  width:40rem;
  height: 30rem;
  border-radius: 10px;
  position: relative;
  cursor:pointer;
  box-shadow:var(--box-shadow);
  transform-style: preserve-3d;

}

.card:hover {
  transform: rotateY(180deg);
}

 .language-category .slideshow-container .numbertext{
  bottom:6px;
}

.language-category .prev,
.language-category .next{
  color:black;

}

.language-category .prev:hover,
.language-category .next:hover {
  color:white;

}
.card p{
  color:var(--white);
  text-align: center;
}

.cardFront,.cardBack{
position: absolute;
width: 100%;
height: 100%;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-transform: capitalize;
backface-visibility: hidden;
}
.cardFront p{
  color:var(--black);
  text-transform: capitalize;
}
.cardFront .fa{
  font-size: 2rem;
}
.cardBack{
  background-color:var(--black);
  transform: rotateX(180deg);
}
audio{
  width:50%;
}
.cardBack audio::-webkit-media-controls-panel{
  display:flex;
  justify-content: center;
  align-items: center;

}

.cardBack audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-timeline-container{
  display: none;

}

.card:hover{
  transform: rotateX(180deg);
  
} 


#category-btn-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap:2rem;
}

.category-btn{
  border-radius:10px;
  border: none;
  padding:2rem;
  box-shadow: 2px 2px 2px gray;
  background-color: white;
  display: flex;
  width:20rem;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.category-btn:hover{
  transform: scale(1.1);
}



footer{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.footer-section{
  display: flex;
  justify-content: center;
  align-items: center;

}
footer .fa-brands{
  margin-right: 20px;
  color:gray;
  font-size: 20px;
  cursor: pointer;
}
footer .fa-brands:hover{
  color:white;
  transform: scale(1.5);
}
footer p{
  font-size: 10px;
  color:white;
}















/* media queries */
@media (max-width:1200px) {
   .header{
    padding: 0.5% 5%;
  } 

  .content-section{
    width:90%;
    padding-top: 4rem;
  }

}

@media(max-width:1024px) {
  html{
    font-size: 50%;
  }
  .hero h1 {
    font-size: 6rem;
  }

  /* .header{
    padding:0.5% 5%;
  } */
/* //endeded here */

}

@media(max-width:768px){


  .header #menu-btn,.header #close-menu-btn{
    display:inline-block;
    cursor: pointer;
  }


  .header ul {
    display: flex;
    flex-direction: column;
    padding:2rem;
    gap: 2rem;

  }


  nav {
    position: fixed;
    background-color:var(--black);
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color:var(--orange);
    width:30rem;
    top: 0;
    right: -200%;
    z-index: 10;

  }
  .content-section {
    padding-top: 6rem;
  }
 

  .category-btn {
    border-radius: 60px;
  }

  #category-btn-container {
    flex-wrap: wrap;
  }
}

@media (max-width:480px){

  h2 {
        font-size:3.5rem;
  }
}
