* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* html{
  background-image: url('/images/kraaal.jpeg');
  /* background-position:inherit; */
  /* background-repeat: no-repeat;
  background-size:cover; */
  /* object-fit: contain; */
  /* min-height: 100vh; */
/* } */ 

/* header and hero */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  opacity: 0.8;
  padding:0.5% 5%;
  color: white;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 5;
}

header ul{
  flex:1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  list-style: none;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition:0.2s;
 
}

nav ul li a:hover{
  border-bottom: solid 2px #f86836;
}

.logo-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:6px;
 
}

.logo-name p{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
}

header .fa{
  display:none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  color: white;
}

.hero h1{
  font-weight: 600;
  font-size: 80px;
  transition: 0.5s;
}

.hero h1:hover{
  letter-spacing: 2px;
}

.hero p, .hero .fa{
  margin-top:20px;
  font-size: 17px;
  color:white;


}

.hero-video{
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: fill;
  height:100vh;
}

@media(max-width:900px){
  .hero h1 {
      font-size: 30px;}

  header ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap:20px;
    
  }

  header .fa{
      display:block;
      cursor: pointer;
      transition: 0.5s;
      margin:20px;
    }
  header .fa:hover{
      font-weight: bold;
      font-size:20px;
  }

  nav{
    position: absolute;
    background-color:black;
    height: 100vh;
    color: white;
    width:200px;
    top:0;
    right:-200px;
    z-index: 2;
    transition:1s;
  }
}

/* history */

.content-section{
  width:80%;
  min-height: 100vh;
  margin: auto;
  padding-top:100px ;
  margin-top: 20px;
  transition: 1.0s;
  
}
.content-section:hover{
  transform: scale(1.01);
}

h2{
  font-size: 40px;
  font-weight:600 ;
  margin-bottom: 20px;
}

h3{
  font-size: 20px;
  font-weight: 400;
}

p{
 font-size: 14px;
 color:rgb(76, 76, 76);
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
}

/* history */
#history{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#history-scroll{
  white-space: nowrap;
  overflow:hidden;

}


/* #history-scroll::-webkit-scrollbar{
  display: none;
} */
#history-scroll img{
  width:600px;
  height:500px;
}


/* food */

.food-section{
    text-align: center;
}
.food-row{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top:20px;
  gap: 20px;

}
.food-col{
  box-shadow:4px 4px 5px gray ;
  border-radius: 10px;
  position: relative;
  color:white;
  box-sizing: border-box;
  width:310px;
  height:250px;
  transition:all ease 0.6s; 
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-position: relative;

  
}

.food-col:hover{
  transform: scale(0.98);
}

.food-col h3{
  color:black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* opacity:0.7;
  padding:10px 10px;
  width: 70%;
  margin: auto; */
  /* border-radius: 10px;
  color: transparent; */
  font-size: 30px;
  font-weight: 800;
  -webkit-text-stroke: 1px white;
 
  
}

.overlay{
  opacity: 0;
  height: 100%;
  width:100%;
  padding: 20px 10px;
  background: white;
  color: black;
  text-align: start;
  transition: 0.8s;
  z-index:5;

}
.food-col:hover h3{
  display:none;
}

.food-col:hover .overlay {
  opacity: 1;
 
}
.overlay h4{
  text-align:center;
  color:transparent;
  font-size: 20px;
  font-weight: 800;
  -webkit-text-stroke: 1px black;

}


.butter{
  background-image: url('/images/okutuka.jpg');
}

.meat {
  background-image: url('/images/pap+stew.jpg');
}
.sour-milk{
  background-image: url('/images/okukanda.jpg'); 
}

/* @media (max-width:450px){
  .food-row {
    display:flex;
    flex-direction: column;
} */


 @media screen and (max-width:900px){
  /* .food-row{
    grid-template-columns:1fr 1fr;
    overflow: hidden;
  } */
    .attire-row{
      flex-direction: column;
    }

} 

/* attire */
.attire-row{
  display: flex;
  justify-content:between;
  align-items: center;
}
.attire-row div{
  flex: 1 1 0px;


}
.attire-row div p{
  padding:0 20px 20px 20px;

}

.attire-img-container{
  height:400px;
  position: relative;

}
.attire-img-container button{
  font-size:30px;
  color:black;
  font-weight: 600;
  position:absolute;
  top:50%;
  transform: translate(0,-50%);
  border:none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
}
.attire-img-container .left-arrow{
  left:10%;
}

.attire-img-container .right-arrow {
  right: 10%;
}

.attire-img-container img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  padding:5px 0;
 
} 

/* entertainment */

 #scroll{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top:20px;
}
#scroller{
display:inline-block;
white-space: nowrap;
animation-name: scroll;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

#scroll::-webkit-scrollbar{
  display:none ;
}



#scroll .artist{
  position: relative;
  /* width:30%;
  height: 50%; */
  width: 310px;
  height: 250px;
  display:inline-block;
  white-space: nowrap;
  margin-right: 20px;
}

.artist a{
 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  -webkit-text-stroke: 1px white;
  transition: 0.5s;

}
.artist a:hover{
  color:white;
  -webkit-text-stroke: 2px black;
  text-decoration:underline;
  font-size:33px;

}
#scroll img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 5px gray;
}


@keyframes scroll {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-50%);
  }
  
}

@media(max-width:700px){
  #scroll .artist {
      width: 80%;
    }
    .artist a {
      font-size:20px;
    }
    #scroller{
      animation-duration: 2s;
    }
}








/* 

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll p{
  display: inline-block;
  font-size: 120px;
  font-weight: 700;
  margin-right: 10px;
  color:transparent ;
  -webkit-text-stroke:2px blue ;
}


@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
  */




/* learning */
.language-category{
  margin-top: 20px;
  
  padding:20px;
  border-radius: 10px;
}
.cards-container{
  display: flex;
  align-items: center;
  justify-content:center;
  gap:20px;
  flex-wrap: wrap;
  margin-top:20px;
  /* perspective: 1000px; */
}
.card{
  width: 310px;
  height: 250px;
  border-radius: 10px;
  background-color:transparent;
  transition: 0.8s;
  position: relative;
  cursor:pointer;
  box-shadow: 2px 2px 2px 1px gray;
  /* box-shadow: 4px 4px 5px gray; */

}
.card p{
  color:white;
  text-align: center;
}

.cardFront,.cardBack{
position: absolute;
width: 100%;
height: 100%;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.cardFront{
  color: black;
  border: 1px solid gray;
  
}
.cardFront p{
  color:black;
}
.cardFront .fa{
  color:gray;
  font-size: 20px;
}
.cardBack {
  background-color:#f86836;
  transform: rotateX(180deg);
  opacity:0;
  transition: 0.2s;
}
.cardBack audio{
  width:40%;
}

.cardBack audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display,audio::-webkit-media-controls-timeline,audio::-webkit-media-controls-timeline-container{
  display: none;

}

.card:hover{
  transform: rotateX(180deg);
  
} 

.card:hover .cardFront{
  opacity:0
}

.card:hover .cardBack {
  opacity: 1
}







